version: '3.8'

services:
  analise_futebol:
    image: jupyter/scipy-notebook:latest
    container_name: jupyter_futebol
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''